In [1]:
# question 1
# we use for loop when we know that how many time our code is going to be execute
for i in range(1,11):
    print('i','*','2','=',i*2)

i * 2 = 2
i * 2 = 4
i * 2 = 6
i * 2 = 8
i * 2 = 10
i * 2 = 12
i * 2 = 14
i * 2 = 16
i * 2 = 18
i * 2 = 20

In [2]:
# question 1
# when we don't know how many time our loop is going to execute than we use while loop
sum = 0 
i = 2
while (i<50):
    if (i%2==0):
        print(i)
        sum = sum + i
    i = i+1
print(sum)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
600

In [4]:
# question 2
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)
product = 1
for i in range(1,11):
    product = product * i
print(product)

55
3628800

In [8]:
# question 2
i = 1
sum = 0
product = 1
while(i<=10):
    sum = sum +i
    product = product*i
    i = i+1
print(sum)
print(product)

55
3628800

In [13]:
# question 3
unit = int(input("Enter the unit consumed in a month: "))
if (unit>0 and unit <= 100):
    print('electricity bill: ',unit*4.5,'rupees')
elif(unit>100 and unit<=200):
    print('electricity bill: ',unit*6,'rupees')
elif(unit>200 and unit<=300):
    print('electricity bill: ',unit*10,'rupees')
else:
    print('electricity bill: ',unit*20,'rupees')

Enter the unit consumed in a month: 310
electricity bill:  6200 rupees

In [20]:
# question 4 using for loop
l1 = [i for i in range (1,101)]
l2 = []
cube = 0
for i in l1:
    cube = i**3
    if (cube%4==0 or cube%5==0):
        l2.append(cube)
print(l2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [23]:
# question using while loop
l1 = [i for i in range (1,101)]
l2 = []
cube = 0
i = 1
while (i<=100):
    cube = i**3
    if(cube % 4 == 0 or cube % 5 == 0):
         l2.append(cube)
    i = i+1
print(l2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [28]:
# question 5
str = "i want to become a data scientist"
list =['a','e','i','o','u']
count = 0
for i in str:
    if i in list:
        count = count + 1
print(count)

12